{% extends "base.html" %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':{{ package | safe }}});
      {{ charts_function_1 | safe }}
      {{ charts_function_2 | safe }}
      {{ charts_function_3 | safe }}
    </script>
{% endblock %}

  {% block title %}Home Page{% endblock %}

    {% block content %}
<h3>{{title}}</h3>
        {{ div_1 | safe }}
        {{ div_2 | safe }}
        {{ div_3 | safe }}

    {% endblock %}
</html>