<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MSFPC5P');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="QA job market statistics by Moscow.">
    <title>QA Job Stat. {{title}}</title>
    {% block scripts %}
    {% endblock %}
    <!-- <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/starter-template/"> -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VVJGQSFR2T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VVJGQSFR2T');
</script>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>
 <body>
 <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MSFPC5P"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

 <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">QA Job Stat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Charts</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="time_series">Number of job openings</a>
          <a class="dropdown-item" href="salary">Salary</a>
          <a class="dropdown-item" href="top_employers">Top employers</a>
          <a class="dropdown-item" href="schedule_type">Schedule type</a>
          <a class="dropdown-item" href="employment_type">Employment type</a>
          <a class="dropdown-item" href="experience">Experience</a>
          <a class="dropdown-item" href="with_salary">With set salary</a>
          <a class="dropdown-item" href="key_skills">Key skills</a>
          <a class="dropdown-item" href="programming_languages">Programming languages</a>
          <a class="dropdown-item" href="unit_test_frameworks">Unit tests frameworks</a>
          <a class="dropdown-item" href="load_testing_tools">Load testing tools</a>
          <a class="dropdown-item" href="monitoring_tools">Monitoring tools</a>
          <a class="dropdown-item" href="bdd_frameworks">BDD Frameworks</a>
          <a class="dropdown-item" href="web_ui_tools">Web UI testing tools</a>
          <a class="dropdown-item" href="mobile_testing_frameworks">Mobile app. testing tools</a>
          <a class="dropdown-item" href="bugtracking_n_tms">Bugtracking and TMS</a>
          <a class="dropdown-item" href="cvs">CVS</a>
          <a class="dropdown-item" href="ci_cd">CI/CD</a>
          <a class="dropdown-item" href="word_cloud">Word cloud</a>

        </div>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">


    <div class="starter-template">
        {% block content %}
        {% endblock %}
    </div>
    <div class="starter-template"  id="advert">
        Закончилось место на бесплатном хостинге pythonanywhere.
        Собираю деньги для переезда на платный хостинг:
        <iframe src="https://yoomoney.ru/quickpay/fundraise/button?billNumber=10U194KJ5HI.240217&" width="330" height="50" frameborder="0" allowtransparency="true" scrolling="no"></iframe>​</div>

    <div class="starter-template">
    </div>
</main>
</body>
</html>