<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="QA job market statistics by Moscow.">
    <title>QA Job Stat</title>
    {% block scripts %}
    {% endblock %}
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/starter-template/">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>
 <body>
 <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">QA Job Stat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Charts</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="time_series">Time series</a>
          <a class="dropdown-item" href="schedule_type">Schedule type</a>
          <a class="dropdown-item" href="experience">Experience</a>
          <a class="dropdown-item" href="with_salary">With salary</a>
          <a class="dropdown-item" href="key_skills">Key skills</a>
          <a class="dropdown-item" href="programming_languages">Programming languages</a>
          <a class="dropdown-item" href="unit_test_frameworks">Test runners</a>
          <a class="dropdown-item" href="load_testing_tool">Load testing tools</a>
          <a class="dropdown-item" href="bdd_frameworks">BDD Frameworks</a>
          <a class="dropdown-item" href="web_ui_tools">Web UI testing tools</a>
          <a class="dropdown-item" href="mobile_testing_frameworks">Mobile app. testing tools</a>
          <a class="dropdown-item" href="bugtracking_n_tms">Bugtracking and TMS</a>
          <a class="dropdown-item" href="cvs">CVS</a>
          <a class="dropdown-item" href="ci_cd">CI/CD</a>
          <a class="dropdown-item" href="word_cloud">Word cloud</a>

        </div>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">

  <div class="starter-template">
    {% block content %}
    {% endblock %}
  </div>

</main>
</body>
</html>