<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawLengChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawLengChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows({{ languages | safe }});

        // Set chart options
        var options = {'title':'Количество упоминаний языков программирования.',
                       'width':800,
                       'height':500};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

      google.charts.setOnLoadCallback(drawScheduleTypeChart);
     function drawScheduleTypeChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows({{ schedule_type | safe }});
        var options = {'title':'Популярность режимов работы.',
            'width':800,
            'height':700};
        var chart = new google.visualization.PieChart(document.getElementById('chart_schedule_type'));
        chart.draw(data, options);
      }


      google.charts.setOnLoadCallback(drawLoadTestingToolsChart);
      function drawLoadTestingToolsChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows({{ lt_frameworks | safe }});
        var options = {'title':'Количество упоминаний инструментов тестирования производительности.',
            'width':800,
            'height':500};
        var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
        chart.draw(data, options);
      }

      google.charts.setOnLoadCallback(drawBDDFrameworksChart);
      function drawBDDFrameworksChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Topping');
          data.addColumn('number', 'Slices');
          data.addRows({{ bdd_frameworks | safe }});
          var options = {'title':'Количество упоминаний фреймворков BDD.',
              'width':800,
              'height':500};
          var chart = new google.visualization.PieChart(document.getElementById('chart_div3'));
          chart.draw(data, options);
      }

      google.charts.setOnLoadCallback(drawWebUIChart);
      function drawWebUIChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Topping');
          data.addColumn('number', 'Slices');
          data.addRows({{ web_ui_tools | safe }});
          var options = {'title':'Количество упоминаний средств тестирования Web UI.',
              'width':800,
              'height':500};
          var chart = new google.visualization.PieChart(document.getElementById('chart_div4'));
          chart.draw(data, options);
      }

      google.charts.setOnLoadCallback(drawMobileToolsChart);
      function drawMobileToolsChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Topping');
          data.addColumn('number', 'Slices');
          data.addRows({{ mobile_testing_frameworks | safe }});
          var options = {'title':'Количество упоминаний инструментов тестирования мобильных приложений.',
              'width':800,
              'height':500};
          var chart = new google.visualization.PieChart(document.getElementById('chart_div5'));
          chart.draw(data, options);
      }

      google.charts.setOnLoadCallback(drawTMSChart);
      function drawTMSChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Topping');
          data.addColumn('number', 'Slices');
          data.addRows({{ bugtracking_n_tms | safe }});
          var options = {'title':'Системы управления тестированием, bugtracking system и т.п.',
              'width':800,
              'height':500};
          var chart = new google.visualization.PieChart(document.getElementById('chart_div6'));
          chart.draw(data, options);
      }

      google.charts.setOnLoadCallback(drawCVSChart);
      function drawCVSChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Topping');
          data.addColumn('number', 'Slices');
          data.addRows({{ cvs | safe }});
          var options = {'title':'Системы управления версиями',
              'width':800,
              'height':500};
          var chart = new google.visualization.PieChart(document.getElementById('chart_div7'));
          chart.draw(data, options);
      }
    </script>
  </head>
  <body style="font-family: Arial">

    
     <table class="columns">
      <thead>
        <h1>Данные по вакансиям раздела "Тестирование" в Москве с 2019-03-17 по настоящий момент.</h1><br>
    Всего {{ vacancies_qty }} вакансий.<br><br>
         <a href = "unit_test_frameworks" ><li> Популярность фреймворков для юнит-тестирования (тест-раннеров)</a><br>
      </thead>
      <tr>
        <td><div id="chart_schedule_type" style="border: 1px solid #ccc"></div></td>
      </tr>
      <tr>
        <td><div id="chart_div" style="border: 1px solid #ccc"></div></td>
      </tr>
      <tr>
        <td><div id="chart_div2" style="border: 1px solid #ccc"></div></td>
      </tr>
      <tr>
        <td><div id="chart_div3" style="border: 1px solid #ccc"></div></td>
      </tr>
      <tr>
        <td><div id="chart_div4" style="border: 1px solid #ccc"></div></td>
      </tr>
      <tr>
        <td><div id="chart_div5" style="border: 1px solid #ccc"></div></td>
     </tr>
     <tr>
       <td><div id="chart_div6" style="border: 1px solid #ccc"></div></td>
     </tr>
     <tr>
       <td><div id="chart_div7" style="border: 1px solid #ccc"></div></td>
     </tr>
    </table>

  </body>
</html>