{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}



<main role="main" class="container">
    <br class="row">
    <h1>Статистика по рынку труда в тестировании ПО</h1>
    <p class="lead">Данные по вакансиям раздела "Тестирование" на HH.ru по Москве</p>
    <p class="lead">Отсутствуют данные с июня 2023 г. по февраль 2024 года.</p>
    <p class="text-left"><a href = "time_series" > Количество вакансий по месяцам и неделям </a></p>
    <p class="text-left"><a href = "salary" > Заработная плата </a></p>
    <p class="text-left"><a href = "salary_by_category" > Заработная плата в зависимости от... </a></p>
    <p class="text-left"><a href = "top_employers" > Топ 50 работодателей по количеству вакансий </a></p>
    <p class="text-left"><a href = "employment_and_schedule" > Режимы работы и виды занятости </a></p>
    <p class="text-left"><a href = "experience_and_salary_mention" > Требуемый опыт работы и доли вакансий с указанной зарплатой </a></p>
    <p class="text-left"><a href = "key_skills" > 50 наиболее популярных тегов раздела "Ключевые навыки"  </a></p>
    <p class="text-left"><a href = "programming_languages" > Количество упоминаний языков программирования </a></p>
    <p class="text-left"><a href = "unit_test_frameworks" > Фреймворки для юнит-тестирования </a></p>
    <p class="text-left"><a href = "load_testing_and_monitoring_tools" > Средства нагрузочного тестирования и мониторинга. </a></p>
    <p class="text-left"><a href = "web_ui_and_api_tools" > Средства тестирования Web API и Web UI</a></p>
    <p class="text-left"><a href = "sniffers" > Анализаторы трафика </a></p>
    <p class="text-left"><a href = "bdd_frameworks" > Фреймворки для реализации BDD-подхода </a></p>
    <p class="text-left"><a href = "mobile_testing_frameworks" >  Инструменты тестирования мобильных приложений </a></p>
    <p class="text-left"><a href = "bugtracking_n_tms" >  Системы управления тестированием, bugtracking system и т.п. </a></p>
    <p class="text-left"><a href = "cvs_and_ci_cd" >  Системы управления версиями и средства CI/CD</a></p>
    <p class="text-left"><a href = "word_cloud" >  "Облако тегов" на основе текстов вакансий </a></p>
    {% endblock %}
    </div>
</main><!-- /.container -->