{% extends "base.html" %}
{% block scripts %}
    {{ super() }}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var head = [['', 'key_skills', { role: 'annotation' }]]
        head = head.concat({{ key_skills | safe }});
        var data = new google.visualization.arrayToDataTable(head);

        var options = {
          title: 'Chess opening moves',
          width: '95%',
          legend: { position: 'none' },
          chart: { title: 'Ключевые навыки',
                   subtitle: 'Пятьдесят наиболее популяных тегов' },
          bars: 'horizontal', // Required for Material Bar Charts.
          hAxes: {textPosition: 'in' },
          bar: { groupWidth: "20%" }
        };

        var chart = new google.charts.Bar(document.getElementById('chart'));
        chart.draw(data, options);
      };


    </script>
{% endblock %}



  {% block title %}Home Page{% endblock %}
  {% block content %}

            <div id="chart" style="height: 1000px;"></div>

  {% endblock %}
</html>
