{% extends "base.html" %}
{% block scripts %}
    {{ super() }}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

    google.charts.setOnLoadCallback(Chart2021);
         function Chart2021() {
            var data = google.visualization.arrayToDataTable({{ chart2021 | safe }});
            var options = {'title':'Количество упоминаний {{ name }} в 2021 году.',
                chartArea:{width:'90%',height:'75%'},
                pieSliceTextStyle: {fontSize: 11}
                };
            var chart = new google.visualization.PieChart(document.getElementById('chart2021'));
            chart.draw(data, options);
           }

    google.charts.setOnLoadCallback(Chart2020);
        function Chart2020() {
            var data = google.visualization.arrayToDataTable({{ chart2020 | safe }});
            var options = {'title':'Количество упоминаний {{ name }} в 2020 году.',
                chartArea:{width:'90%',height:'75%'},
                pieSliceTextStyle: {fontSize: 11}
                };
            var chart = new google.visualization.PieChart(document.getElementById('chart2020'));
            chart.draw(data, options);
       }

    google.charts.setOnLoadCallback(Chart2019);
        function Chart2019() {
            var data = google.visualization.arrayToDataTable({{ chart2019 | safe }});
            var options = {'title':'Количество упоминаний {{ name }} в 2019 году.',
                chartArea:{width:'90%',height:'75%'},
                pieSliceTextStyle: {fontSize: 11}
                };
            var chart = new google.visualization.PieChart(document.getElementById('chart2019'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div id="chart2021" style="height: 500px;"></div>
<div id="chart2020" style="height: 500px;"></div>
<div id="chart2019" style="height: 500px;"></div>

{% endblock %}
</html>