{% extends "base.html" %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(salary);
    function salary() {

      var data = new google.visualization.arrayToDataTable({{salary | safe }});
      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         2,
                         { calc: "stringify",
                         sourceColumn: 2,
                         type: "string",
                         role: "annotation" },
                         3,
                         { calc: "stringify",
                         sourceColumn: 3,
                         type: "string",
                         role: "annotation" },

                       ]);

      var options = {
        title: "Медианный уровень зарплаты",
        subtitle: "в зависимости от опыта",
        height: 600,
        bar: {groupWidth: "90%"},
        legend: { position: "top", maxLines: 3, alignment: 'start'},
        chartArea:{left:'30%'}
      };
      var chart = new google.visualization.BarChart(document.getElementById("chart"));
      chart.draw(view, options);
  }
 </script>

{% endblock %}
  {% block title %}Home Page{% endblock %}
  {% block content %}
    <div id="disclaimer">Данные по категории "noExperience" могут быть завышены.
        Часто встречаются вакансии, в которых описание противоречит категории, к которой отнесена
        вакансия. Причина, вероятно, в том, что категория "noExperience" используется при вводе
        данных по умолчанию.</div>
    <hr>
    <div id="chart"></div>
  {% endblock %}
</html>
