{% extends "base.html" %}
{% block scripts %}
    {{ super() }}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawScheduleTypeChart2019);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawScheduleTypeChart2019() {

        // Create the data table.
         var data = google.visualization.arrayToDataTable({{ schedule_type2019 | safe }});

        // Set chart options
        var options = {'title':'Популярность режимов работы в 2019 году.',
                                   chartArea:{width:'90%',height:'80%'},
                                   pieSliceTextStyle: {fontSize: 11},
                       };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('schedule_type2019'));
        chart.draw(data, options);
      }

      google.charts.setOnLoadCallback(drawScheduleTypeChart2020);
     function drawScheduleTypeChart2020() {
        var data = google.visualization.arrayToDataTable({{ schedule_type2020 | safe }});
        var options = {'title':'Популярность режимов работы в 2020 году.',
            chartArea:{width:'90%',height:'80%'},
            pieSliceTextStyle: {fontSize: 11}
            };
        var chart = new google.visualization.PieChart(document.getElementById('schedule_type2020'));
        chart.draw(data, options);
      }

      google.charts.setOnLoadCallback(drawScheduleTypeChart2021);
     function drawScheduleTypeChart2021() {
        var data = google.visualization.arrayToDataTable({{ schedule_type2021 | safe }});
        var options = {'title':'Популярность режимов работы в 2021 году.',
            chartArea:{width:'90%',height:'80%'},
            pieSliceTextStyle: {fontSize: 11}
            };
        var chart = new google.visualization.PieChart(document.getElementById('schedule_type2021'));
        chart.draw(data, options);
      }
    </script>

{% endblock %}



  {% block title %}Home Page{% endblock %}
  {% block content %}

<div id="schedule_type2021" style="height: 300px;"></div>
<div id="schedule_type2020" style="height: 300px;"></div>
<div id="schedule_type2019" style="height: 300px;"></div>

  {% endblock %}
</html>
