{% extends "base.html" %}
{% block scripts %}
    {{ super() }}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});


      google.charts.setOnLoadCallback(drawWeekByWeek);
      function drawWeekByWeek() {
        var data = new google.visualization.arrayToDataTable({{vacancy_count_week_by_week | safe }});
        var options = {
          title: 'Количество публикаций вакансий по неделям года.',
<!--          legend: {position: 'top', maxLines: 2 },-->
          bars: 'horizontal', // Required for Material Bar Charts.
          chartArea: {left:55,top:90,width:'100%',height:'70%'}
        };
        // var view = new google.visualization.DataView(data);
        var chart = new google.visualization.BarChart(document.getElementById("barchart_weeks"));
        chart.draw(data,
        options);
      };

      google.charts.setOnLoadCallback(drawMonthByYear);
      function drawMonthByYear() {
        var data = new google.visualization.arrayToDataTable({{vacancy_rate_by_year | safe }});
        var options = {
          title: 'Количество вакансий по месяцам',
          legend: {position: 'top', maxLines: 2 },
          bars: 'horizontal', // Required for Material Bar Charts.
          chartArea: {left:55,top:90,width:'100%',height:'70%'}
        };
        var view = new google.visualization.DataView(data);
        var chart = new google.visualization.BarChart(document.getElementById("barchart_years"));
        chart.draw(data,
        options);
      };

            google.charts.setOnLoadCallback(drawDayByWeek);
      function drawDayByWeek() {
        var data = new google.visualization.arrayToDataTable({{vacancy_count_day_by_week | safe }});
        var options = {
          title: 'Количество вакансий по дням недели',
          legend: {position: 'top', maxLines: 4 },
<!--          curveType: 'function',-->
          chartArea: {left:55,top:50,width:'100%',height:'80%'}
        };
        // var view = new google.visualization.DataView(data);
        var chart = new google.visualization.LineChart(document.getElementById("linechart_values"));
        chart.draw(data, options);
      };

    </script>
{% endblock %}

{% block title %}Home Page{% endblock %}
{% block content %}
<div id="barchart_weeks" style="height: 600px;"></div>
<p class="lead">Отсутствуют данные с июня 2023 г. по февраль 2024 года.</p>
<div id="barchart_years" style="height: 600px;"></div>
<div id="linechart_values" style="height: 600px;"></div>
{% endblock %}
</html>