{% extends "base.html" %}
{% block scripts %}
    {{ super() }}
{% endblock %}
{% block content %}
<div id="main" style="width:100%; height:700px;"></div>
<hr>
<script src="/static/echarts.js"></script>
<script type="text/javascript">
var chartDom = document.getElementById('main');
var myChart = echarts.init(document.querySelector('#main'), null, { renderer: 'svg' });

function autoFontSize() {
  let width = document.getElementById('main').offsetWidth;
  let newFontSize = Math.round(width /40);
  if (newFontSize < 14)
    newFontSize = 14
  if (newFontSize > 16)
    newFontSize = 16
  return newFontSize;
};

var option;
const rawData = {{ raw_data | safe }};
const totalData = [];
for (let i = 0; i < rawData[0].length; ++i) {
  let sum = 0;
  for (let j = 0; j < rawData.length; ++j) {
    sum += rawData[j][i];
  }
  totalData.push(sum);
}
const grid = {
  left: 50,
  right: 20,
  top: 50,
  bottom: 150
};
const series = {{ series | safe }}.map((name, sid) => {
  return {
    name,
    type: 'bar',
    stack: 'total',
    barWidth: '60%',
    data: rawData[sid].map((d, did) =>
      totalData[did] <= 0 ? 0 : d / totalData[did]
    )
  };
});
option = {
    tooltip: {
        confine: true,
        show: true,
        trigger: 'axis',
        triggerOn: 'mousemove',
        textStyle: {fontSize: autoFontSize()},
        valueFormatter: (value) => (value * 100).toFixed(1) + '%'
      },
    legend: {
        top: '85%',
        selectedMode: true,
        textStyle: {fontSize: autoFontSize()},
        width: '100%',
      },
    grid,
    yAxis: {
       type: 'value',
       splitNumber: 10,
       boundaryGap: ['0', '100%'],
       min:0,
       max:1,
       scale:true,
       splitArea : {show : true},
       axisLabel: {
            show: true,
            fontSize: autoFontSize(),
            fontStyle: 'bold',
            formatter: value => value * 100 + '%'
               }
       },
    xAxis: {
        type: 'category',
        data: {{ category | safe }},
        axisLabel: {
              show: true,
              fontSize: autoFontSize(),
              fontStyle: 'bold',
              formatter: value => value
        },
      },
    series
};

myChart.setOption(option);

window.addEventListener('resize', function() {
 if (myChart != null && myChart != undefined) {
     myChart.resize(
     {width: 'auto',
      height: 'auto'}
    );
    myChart.setOption({
      legend: {
        textStyle: {fontSize: autoFontSize()},
        },
      tooltip: {
        textStyle: {fontSize: autoFontSize()},
        },
      xAxis: {
        axisLabel: {
          fontSize: autoFontSize(),
          },
        },
      yAxis: {
        axisLabel: {
          fontSize: autoFontSize(),
          },
        },
      series: {
        label: {
          textStyle: {
            fontSize: autoFontSize()
          }
        }
      }
    })
}
     });
 </script>
{% endblock %}