<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ECharts</title>
    <!-- Include the ECharts file you just downloaded -->
    <script src="/static/echarts.js"></script>
  </head>
  <body>

    <!-- Prepare a DOM with a defined width and height for ECharts -->
<div id="main" style="width: 1000px; height:800px;"></div>

<script type="text/javascript">
var chartDom = document.getElementById('main');
var myChart = echarts.init(document.querySelector('#main'), null, { renderer: 'svg' }
  );

function autoFontSize() {
  let width = document.getElementById('main').offsetWidth;
  let newFontSize = Math.round(width /40);
  return newFontSize;
};


var option;

const rawData = {{ raw_data | safe }};
const totalData = [];
for (let i = 0; i < rawData[0].length; ++i) {
  let sum = 0;
  for (let j = 0; j < rawData.length; ++j) {
    sum += rawData[j][i];
  }
  totalData.push(sum);
}
const grid = {
  left: 110,
  right: 110,
  top: 120,
  bottom: 50
};
const series = {{ series | safe }}.map((name, sid) => {
  return {
    name,
    type: 'bar',
    stack: 'total',
    barWidth: '60%',
    data: rawData[sid].map((d, did) =>
      totalData[did] <= 0 ? 0 : d / totalData[did]
    )
  };
});
option = {
tooltip: {
    show: true,
    trigger: 'item',
    textStyle: {fontSize: autoFontSize()},
    valueFormatter: (value) => (value * 100).toFixed(1) + '%'
  },
  legend: {
    selectedMode: false,
    textStyle: {fontSize: autoFontSize()},
    width: '80%',
  },
  grid,
    yAxis: {
             type: 'value',
             splitNumber: 10,
             boundaryGap: ['0', '100%'],
             min:0,
             max:1,
             scale:true,
             splitArea : {show : true},
             axisLabel: {
                  show: true,
                  fontSize: autoFontSize(),
                  fontStyle: 'bold',
                  formatter: value => value * 100 + '%'
                     }
          },
  xAxis: {
    type: 'category',
    data: {{ category | safe }},
    axisLabel: {
          show: true,
          fontSize: autoFontSize(),
          fontStyle: 'bold',
    },
  },
  series
};

myChart.setOption(option);

window.addEventListener('resize', function() {
 if (myChart != null && myChart != undefined) {
     myChart.resize(
     {width: 'auto',
      height: 'auto'}
    );
    myChart.setOption({
      series: {
        label: {
          textStyle: {
            fontSize: autoFontSize()
          }
        }
      }
    })
}
     });

    </script>
  </body>
</html>