{% extends "base.html" %}
{% block scripts %}
    {{ super() }}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
       google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows({{ web_ui_tools | safe }});
        var options = {
        'title':'Количество упоминаний средств тестирования Web UI.',
        chartArea:{width:'100%',height:'75%'},
        };
        var chart = new google.visualization.PieChart(document.getElementById('chart'));
        chart.draw(data, options);
      }

    </script>
{% endblock %}



  {% block title %}Home Page{% endblock %}
  {% block content %}

            <div id="chart" style="height: 500px;"></div>

  {% endblock %}
</html>
